*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}
.container{
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}
/* Image */
.container .left img{
    width: 250px;
    height: 350px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* Product name */
.container .right .product-name{
    color: hsl(228, 12%, 48%);
    padding: 20px 0 15px 25px;
}
/* Title */
.container .right h2{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    padding-left: 25px;
}
/* Paragraph */
.container .right p{
    color: hsl(228, 12%, 48%);
    padding: 10px 10px 0 25px;
    font-size: 14px;
}
/* Prices */
.container .prices{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.container .prices .new-price{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;;
    font-size: 30px;
    margin-left: 25px;
}
.container .prices .old-price{
    color: hsl(228, 12%, 48%);
    padding-top: 10px;
    padding-right: 40px;
}
/* Button */
button{
    width: 200px;
    height: 45px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    margin: 5px 0 0 30px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}
button:hover{
    cursor: pointer;
    background-color: hsl(159, 65%, 14%);
}



.attribution{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}